%tr.message_train_conversation{ class: conversation_class(@box, conversation), id: 'message_train_conversation_' + conversation.id.to_s }
  %td.col-xs-1= check_box_tag "objects[conversations][#{conversation.id.to_s}]", conversation.id
  - if @collective.nil?
    %td.col-xs-2= link_to conversation_senders(conversation), message_train.box_conversation_path(@box.division, conversation)
    %td.col-xs-8= link_to conversation.subject, message_train.box_conversation_path(@box.division, conversation)
    %td
      - if conversation.attachments.any?
        = icon 'paperclip'
    %td.col-xs-1.conversation-actions
      = conversation_trashed_toggle conversation
      - if @box.division == :trash
        = conversation_deleted_toggle conversation
    - conversation.updated_at.nil? ? abort(conversation.inspect) : nil
    %td.col-xs-1.date-column= fuzzy_date(conversation.updated_at)
  - else
    %td.col-xs-2= link_to conversation_senders(conversation), message_train.collective_box_conversation_path(@collective.path_part, @box.division, conversation)
    %td.col-xs-8= link_to conversation.subject, message_train.collective_box_conversation_path(@collective.path_part, @box.division, conversation)
    %td
      - if conversation.attachments.any?
        = icon 'paperclip'
    %td.col-xs-1.conversation-actions
      = conversation_trashed_toggle conversation, @collective
      - if @box.division == :trash
        = conversation_deleted_toggle conversation, @collective
    %td.col-xs-1.date-column= fuzzy_date(conversation.updated_at)
