%h1
  = @heading
- if @recipient == @through
  %p
    = :at_time_you_received_a_message.l(time: @receipt.created_at, subject: @receipt.message.subject, path: message_train.box_conversation_path(:in, @receipt.message.conversation))
  %p{ style: 'font-size: .8rem; color: #666' }
    = :unsubscribe_from_option.l(from: :your_inbox.l)
    = link_to :manage_your_email_notifications.l, message_train.unsubscribes_url
- else
  %p= :at_time_through_received_a_message.l(time: @receipt.created_at, through: @through_name, subject: @receipt.message.subject, path: message_train.collective_box_conversation_path(@through, :in, @receipt.message.conversation))
  %p{ style: 'font-size: .8rem; color: #666' }
    = :unsubscribe_from_option.l(from: @through_name)
    = link_to :manage_your_email_notifications.l, message_train.unsubscribes_url
